{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('issue_update', { id: entity.id }),
            'entity_label': 'Issue'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-issue',
            'dataId': entity.id,
            'entity_label': 'Issue'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('issue_index'),
    'indexLabel': 'Issue'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('Summary'|trans, entity.summary) }}
                    {{ UI.renderProperty('Code'|trans, entity.code) }}
                    {{ UI.renderProperty('Description'|trans, entity.description) }}
                    {{ UI.renderProperty('Reporter'|trans, entity.reporter) }}
                    {{ UI.renderProperty('Assignee'|trans, entity.assignee) }}
                    {{ UI.renderProperty('Created at'|trans, entity.createdAt|oro_format_datetime) }}
                    {{ UI.renderProperty('Updated at'|trans, entity.updatedAt|oro_format_datetime) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
    {
    'title': 'Data'|trans,
    'class': 'active',
    'subblocks': [
    { 'data' : [data] }
    ]
    }
    ] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}